* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.3em;
  color: white;
  margin: 0 auto;
  height: 100%;
}

h1 {
  font-size: 2.5rem;
  margin-top: 75px;
  margin-left: 85px;
  color: #fff;
  padding: 30px;
  letter-spacing: 2px;
}

p {
  margin-left: 30px;
  width: 90%;
  padding-top: 25px;
}

.default {
  position: relative;
  float: left;
  vertical-align: top;
  height: 728px;
}

.svg {
  width: 32px;
  height: 32px;
}

.content {
  display: none;
}
.content img {
  float: left;
  width: 70px;
  height: 70px;
  margin-left: 30px;
}

.gryffindor {
  background-color: green;
}

.slytherin {
  background-color: black;
}

.hufflepuff {
  background-color: orange;
}

.ravenclaw {
  background-color: blue;
}

.inactive {
  width: 8%;
}

.active {
  width: 75%;
}
.active .content {
  display: block;
}

.column {
  display: inline-block;
  font-style: italic;
  text-align: center;
  padding: 30px;
  width: 33%;
}
.column p {
  font-size: 1.25rem;
  padding-top: 25px;
}

.row {
  background-color: yellow;
  padding: 30px;
}

footer {
  display: block;
  clear: left;
  width: 100%;
  color: #ccc;
  background-color: #000;
  vertical-align: bottom;
}
