* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.3em;
  color: white;
  margin: 0 auto;
  height: 100%;
}

h1 {
  font-size: 2.5rem;
  color: #fff;
  margin-left: 30px;
  padding-top: 100px;
  letter-spacing: 2px;
}

p {
  margin-left: 30px;
  width: 75%;
  margin-top: 50px;
}

.default {
  position: relative;
  float: left;
  vertical-align: top;
  height: 728px;
}

.icon {
  display: inline-block;
  width: 125px;
  height: 149px;
  margin-top: 15px;
  float: right;
}

.svg {
  width: 32px;
  height: 32px;
}

.content {
  display: none;
}

.gryffindor {
  background-color: #8a0e0e;
}

.slytherin {
  background-color: #1f8a0e;
}

.hufflepuff {
  background-color: #908720;
}

.ravenclaw {
  background-color: #207290;
}

.inactive {
  width: 8%;
}
.inactive .gryffindor {
  background-color: lighter(#8a0e0e, 50%);
}
.inactive .slyterin {
  background-color: lighter(#1f8a0e, 50%);
}

.active {
  width: 75%;
}
.active .content {
  display: block;
}

.column {
  font-style: italic;
  width: 33%;
}
.column p {
  font-size: 1.25rem;
  padding-top: 25px;
}

.row {
  background-color: yellow;
  padding: 30px;
}

.video-wrapper {
  display: inline-block;
  height: 0;
  padding-bottom: 56.25%;
  /* 16:9 */
}
.video-wrapper iframe {
  position: absolute;
  padding: 0px;
}

footer {
  display: block;
  clear: left;
  width: 100%;
  color: #ccc;
  background-color: #000;
  vertical-align: bottom;
}

.icons-sprite, .icons-all-houses, .icons-gryffindor, .icons-hufflepuff, .icons-icons-s8d8e7bcf02, .icons-ravenclaw, .icons-slytherin {
  background-image: url('/images/icons-s704b660461.png');
  background-repeat: no-repeat;
}

.icons-all-houses {
  background-position: 0 0;
}

.icons-gryffindor {
  background-position: 0 -181px;
}

.icons-hufflepuff {
  background-position: 0 -330px;
}

.icons-icons-s8d8e7bcf02 {
  background-position: 0 -476px;
}

.icons-ravenclaw {
  background-position: 0 -1234px;
}

.icons-slytherin {
  background-position: 0 -1374px;
}
