* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$red: #8a0e0e;
$green: #1f8a0e;
$gold: #908720;
$blue: #207290;

body, html {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	line-height: 1.3em;
	color: white;
	margin: 0 auto;
	height: 100%;
}

h1 {
	font-size: 2.5rem;
	color: #fff;
	margin-left: 30px;
	padding-top: 100px;
	letter-spacing: 2px;
}

p {
	margin-left: 30px;
	width: 75%;
	margin-top: 50px;
}

.default {
	position: relative;
	float: left;
	vertical-align: top;
	height: 728px;

}

.icon {
	display: inline-block;
	width: 125px;
	height: 149px;
	margin-top: 15px;
	float: right;
}

.svg {
	width: 32px;
	height: 32px;
}

.content {
	display: none;
}

.gryffindor {
	background-color: $red;
}

.slytherin {
	background-color: $green;
}

.hufflepuff {
	background-color: $gold;
}

.ravenclaw {
	background-color: $blue;
}

.inactive {
	width: 8%;

		.gryffindor {
			background-color: lighter($red, 50%);
		}

		.slyterin {
			background-color: lighter($green, 50%);
		}
}

.active {
	width: 75%;
		.content {
			display: block;
		}
}

.column {
	font-style: italic;
	width: 33%;

		p {
			font-size: 1.25rem;
			padding-top: 25px;
		}
}

.row {
	background-color: yellow;
	padding: 30px;

}

.video-wrapper {
	display: inline-block;
	height: 0;
	padding-bottom: 56.25%; /* 16:9 */
		iframe {
			position: absolute;
			padding: 0px;
		}
}

footer {
	display: block;
	clear: left;
	width: 100%;
	color: #ccc;
	background-color: #000;
	vertical-align: bottom;
}

@import "icons/*.png"; 
@include all-icons-sprites;